
@font-face {
  font-family: 'kowai';
  src: url('../fonts/kowai.otf') format('truetype');
}


html {
  background-color: black;
  width: 100vw;
  height: 100vh;
  color: #fff;
  font-family: 'kowai';
}

#main {
  margin-top: 30px;
}

#status {
  margin-top: 100px;
}

.container {
  margin: 20px 40px;
}

.text-center {
  text-align: center;
}

.c-white {
  color: white;
}

.textSplitLoad {
    display: none;
}

.split {
    visibility: hidden;
}

.square_btn{
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #4c0000;/*ボタン色*/
    color: #FFF;
    border-bottom: solid 4px #4c0000;
    border-radius: 3px;
}
.square_btn:active {/*ボタンを押したとき*/
    -ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    transform: translateY(4px);/*下に動く*/
    border-bottom: none;/*線を消す*/
}

.zombie {
  display: block;
  margin: 0 auto;
}

/* Margin */

.m-10 {
  margin: 10px;
}
.m-t-10-p {
  margin-top: 10%;
}

.m-t-10 {
  margin-top: 10px;
}

.m-t-30 {
  margin-top: 30px;
}

/* padding */
.p-t-30 {
  padding-top: 30px;
}

/* font */
.f-25 {
  font-size: 25px;
}
